<div class='container'>
  <div style="margin-top:50px" class="mainbox col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-2">

    <div class="alert alert-danger" role="alert" ng-show='error'>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Email {{ error }}
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
        <div style="float:right; font-size: 85%; position: relative; top:-10px">
          <a ui-sref='sign_in'>Sign In</a>
        </div>
      </div>
      <div class="panel-body" >
        <form class="form-horizontal" role="form" ng-submit="createAccount()" name="signUpForm">

          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="email" placeholder="Email Address" ng-model="user.email" required>
              <span class="error-message" ng-show="signUpForm.email.$error.required">Email is required</span>
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">First Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="firstname" placeholder="First Name" ng-model="user.first_name" required>
              <span class="error-message" ng-show="signUpForm.firstname.$error.required">First name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Last Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="lastname" placeholder="Last Name" ng-model="user.last_name" required>
              <span class="error-message" ng-show="signUpForm.lastname.$error.required">Last name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required ng-minlength='8'>
              <span class="error-message" ng-show="signUpForm.password.$error.required">Password is required</span>
              <span class="error-message" ng-show="signUpForm.password.$error.minlength">Should be at least 8 symbols</span>
            </div>
          </div>

          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-9 col-md-3">
              <button type="submit" class="btn btn-info">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
