<div class='raw'>
  <div class='container'>
    <h3 ng-hide='projects.length > 0'>
      You don't have any projects yet <a ui-sref='projects_new'> Create it now! </a>
    </h3>
  </div>
  <div ng-repeat="project in projects" class='col-md-12 col-xs-12 col-lg-12'>
    <div class="project-wrap">
      <a ui-sref='tasks_all({id: project.id})'>
        <h3 class='modal-title'> {{ project.name }} </h3>
      </a>
      <a ui-sref='projects_edit({id: project.id})'>Edit</a>
      <a href='javascript:void(0)' ng-click='delete(project)'>Delete</a>
      <p> {{ project.description }} </p>
    </div>
  </div>
</div>
