<div class="container">
  <form ng-submit='save()'>
    <div class="form-group">
      <input type"text" placeholder="Project name" class="form-control" ng-model="task.title" />
    </div>

    <div class="form-group">
      <textarea placeholder="Project description" class="form-control" ng-model="task.description" />
    </div>

    <div class="form-group">
      <select ng-model='task.priority' ng-options='value as value for value in range(1, 5)'></select>
    </div>

    <div class="form-group">
      <datepicker date-format="yyyy-MM-dd">
        <input ng-model="task.end_date" type="text" ng-change='update(task)'/>
      </datepicker>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
